.WhoWeAre_Comp {
  padding-bottom: 60px;

  .information-security-training__image {
    height: auto;
    min-width: 100%;
  }

  /*====  Who we are image and description  ====*/
  .who-we-are__text {
    margin-left: 20px;
    text-align: justify;
  };
};
