@import "src/assets/styles/GlobalStyle";

.AppFooter_Comp {
  background: $primaryColor;
  box-sizing: border-box;
  color: $secondaryColor;
  font-size: 1.1rem;
  padding: 0;

  .brand__name {
    font-family: 'Jost', sans-serif;
    font-size: $heading;
  }

  a {
    color: $colorWhite;
    text-decoration: none;

    &:hover {
      color: $linkColorHover;
    };
  };

  .top-footer__wrapper {
    padding: 40px 0 60px 0;

    .footer__subHeader {
      font-size: $subHeading;
    };
  };

  .bottom-footer__wrapper {
    background: #002525;
    padding: 20px 0;

    .social-icon__wrapper {
      a {
        margin-right: 15px;

        .social-media__icons {
          height: 20px;
          width: 20px;
        };

        &:first-child .social-media__icons {
          height: 25px;
          width: 25px;
        };
      };
    };
  };
}






@media screen and (max-width: 575px){
  .AppFooter_Comp {
    font-size: 1rem;
    padding:  0;

    .brand__name {
      font-family: 'Jost', sans-serif;
      font-size: $subHeading;
    }
  };
};