@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
/*
font-family: 'Jost', sans-serif;
*/

//  Import Global SCSS variables.
@import "./GlobalStyle";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
};
*::before,
*::after{
  box-sizing:border-box;
};

a {
  color: $primaryColor;
  text-decoration: none;

  &:hover {
    color: $linkColorHover;
  };
};

.mCard {
  box-shadow: 0 10px 20px 0 rgba(221,221,221,0.3);
  border-radius: 5px;
  transition: 0.3s ease;
}
.mCard:hover {
  box-shadow: 0 6px 12px 0 rgba(204, 204, 204, 0.6);
}
